<h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard</p>

<a href="http://localhost:4200">Home</a>
<br>
<a href="http://localhost:4200/login">Login</a>
<br>
<a href="http://localhost:4200/transaction/management">Manage Transactions</a>
<br>
<a href="http://localhost:4200/labresult/management">Manage Lab Results</a>
<br>
<a href="http://localhost:4200/user/register">Register User</a>
<br>
<a href="http://localhost:4200/patient/register">Register Patient</a>
<br>
<a href="http://localhost:4200/labtest/management">Manage Lab Tests</a>
<br>
<a href="http://localhost:4200/register">Register Refering Physician XXXXXXX</a>
<br>
<a href="http://localhost:4200/profile">Profile</a>
