<h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard</p>

<!-- HomeComponent -->
<a routerLink="/">Home</a>

<br>

<!-- LoginComponent -->
<a routerLink="/login">Login</a>

<br>

<!-- DashboardComponent -->
<!-- <a routerLink="/dashboard">Dashboard</a> -->

<!-- TransactionComponent -->
<a routerLink="/transaction/management">Manage Transactions</a>

<br>

<!-- LabresultComponent -->
<a routerLink="/labresult/management">Manage Lab Results</a>

<br>

<!-- RegisterUserComponent -->
<a routerLink="/user/register">Register User</a>

<br>

<!-- RegisterPatientComponent -->
<a routerLink="/patient/register">Register Patient</a>

<br>

<!-- LabtestComponent -->
<a routerLink="/labtest/management">Manage Lab Tests</a>

<br>

<a routerLink="/">Register Refering Physician XXXXXXX</a>

<br>

<!-- ProfileComponent -->
<a routerLink="/profile">Profile</a>
