<div class="container mt-4 mb-4">
    <div class="row justify-content-center">
        <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
            <div class="wrap">
                <form class="row g-3 needs-validation" novalidate (submit)="onSubmit()">
                    <legend class="text-center"><h2>Change Password</h2></legend>

                    <!-- Current Password -->
                    <div class="col-12">
                        <label for="currentPassword" class="form-label">Current Password</label>
                        <input type="password" class="form-control" id="currentPassword" name="currentPassword" [(ngModel)]="currentPassword" required>
                    </div>

                    <!-- New Password -->
                    <div class="col-12">
                        <label for="newPassword" class="form-label">New Password</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required>
                    </div>

                    <!-- Confirm Password -->
                    <div class="col-12">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required>
                    </div>

                    <!-- Submit Button -->
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary w-100">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>