<h2 class="page-header">Register</h2>
<form (submit)="onRegisterSubmit()">
    <div class="form-group">
        <label>firstName</label>
        <input type="text" [(ngModel)]="firstName" name="firstName" class="form-control">
    </div>
    <div class="form-group">
        <label>middleName</label>
        <input type="text" [(ngModel)]="middleName" name="middleName" class="form-control">
    </div>
    <div class="form-group">
        <label>lastName</label>
        <input type="text" [(ngModel)]="lastName" name="lastName" class="form-control">
    </div>
    <div class="form-group">
        <label>dateOfBirth</label>
        <input type="text" [(ngModel)]="dateOfBirth" name="dateOfBirth" class="form-control">
    </div>
    <div class="form-group">
        <label>mobile number</label>
        <input type="text" [(ngModel)]="mobile" name="mobile" class="form-control">
    </div>
    <div class="form-group">
        <label>email</label>
        <input type="text" [(ngModel)]="email" name="email" class="form-control">
    </div>
    <div class="form-group">
        <label>role</label>
        <input type="text" [(ngModel)]="role" name="role" class="form-control">
    </div>
    <div class="form-group">
        <label>license</label>
        <input type="text" [(ngModel)]="license" name="license" class="form-control">
    </div>
    <div class="form-group">
        <label>signatoryname</label>
        <input type="text" [(ngModel)]="signatoryName" name="signatoryName" class="form-control">
    </div>
    <div class="form-group">
        <label>gender</label>
        <input type="text" [(ngModel)]="gender" name="gender" class="form-control">
    </div>
    <div class="form-group">
        <label>address</label>
        <input type="text" [(ngModel)]="address" name="address" class="form-control">
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" [(ngModel)]="isSeniorCitizen" name="isSeniorCitizen"> is senior citizen
        </label>
    </div>
    <div class="form-group">
        <label>senior id number</label>
        <input type="text" [(ngModel)]="seniorIdNumber" name="seniorIdNumber" class="form-control">
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" [(ngModel)]="receivePromo" name="receivePromo"> subscribe to receive promotions
        </label>
    </div>

    <div class="container">
        <h2>Sample Form</h2>
        <div class="row">
          <div class="col-md-4">
            <label for="nameDropdown">Select a Name:</label>
            <select class="form-control" id="nameDropdown" [(ngModel)]="selectedAction" name="selectedAction">
              <option *ngFor="let name of availableNames" [value]="name">{{ name }}</option>
            </select>
            <button type="button" class="btn btn-primary mt-2" (click)="addName()">Add</button>
          </div>
          <div class="col-md-4">
            <label for="nameListbox">Selected Names:</label>
            <select class="form-control" id="nameListbox" multiple [(ngModel)]="selectedActions">
              <option *ngFor="let name of selectedActions" [value]="name">{{ name }}</option>
            </select>
            <button type="button" class="btn btn-danger mt-2" (click)="removeName()">Remove</button>
          </div>
        </div>
      </div>


    <input type="submit" class="btn btn-primary" value="Submit">

</form>
