<div class="container mt-4 mb-4">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-7 col-xl-6">
            <div class="wrap">
                <form class="row g-3 needs-validation" novalidate (submit)="onRegisterSubmit()">
                    <legend class="text-center"><h2>Registration Form</h2></legend>

                    <!-- First Name -->
                    <div class="col-lg-4 col-md-4">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="firstName" required>
                        <div class="invalid-feedback">
                            Please provide a valid first name.
                        </div>
                    </div>

                    <!-- Middle Name -->
                    <div class="col-lg-4 col-md-4">
                        <label for="middleName" class="form-label">Middle Name</label>
                        <input type="text" class="form-control" id="middleName" name="middleName" [(ngModel)]="middleName">
                    </div>

                    <!-- Last Name -->
                    <div class="col-lg-4 col-md-4">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="lastName" required>
                        <div class="invalid-feedback">
                            Please provide a valid last name.
                        </div>
                    </div>

                    <!-- Date of Birth -->
                    <div class="col-md-6">
                        <label for="dateOfBirth" class="form-label">Date of Birth</label>
                        <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth" [(ngModel)]="dateOfBirth" >
                    </div>

                    <!-- Gender -->
                    <div class="col-md-6">
                        <label for="gender" class="form-label">Gender</label>
                        <select class="form-select" id="gender" [(ngModel)]="gender" name="gender" required>
                            <option value="Male" selected>Male</option>
                            <option value="Female">Female</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select your department/office.
                        </div>
                    </div>

                    <!-- Address -->
                    <div class="col-md-6">
                        <label for="address" class="form-label">Address</label>
                        <input type="text" class="form-control" id="address" name="address" [(ngModel)]="address">
                    </div>

                    <!-- Mobile Number -->
                    <div class="col-md-6">
                        <label for="mobile" class="form-label">Mobile Number</label>
                        <input type="text" class="form-control" id="mobile" name="mobile" [(ngModel)]="mobile">
                    </div>

                    <!-- Senior Citizen -->
                    <!-- Senior ID Number -->
                    <div class="col-md-6">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="isSeniorCitizen" name="isSeniorCitizen">
                            <label class="form-check-label">Is senior citizen</label>
                        </div>
                        <label for="seniorIdNumber" class="form-label">Senior ID Number</label>
                        <input type="text" class="form-control" id="seniorIdNumber" name="seniorIdNumber" [(ngModel)]="seniorIdNumber">
                    </div>

                    <!-- Receive Promotions -->
                    <!-- Email -->
                    <div class="col-md-6">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="receivePromo" name="receivePromo">
                            <label class="form-check-label">Subscribe for promos</label>
                        </div>
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" id="email" name="email" [(ngModel)]="email">
                    </div>

                    <!-- Submit Button -->
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>